node_modules/
coverage/
src/
.github/
.vscode/
examples/
scripts/
.cspell.json
.gitignore
.nvmrc
.prettierrc
.releaserc.json
api-extractor.json
biome.json
bun.lockb
CODE_OF_CONDUCT.md
CONTRIBUTING.md
tsconfig.json
tsconfig.build.json
